body{
    background: url(images/bgtest.webp);
    background-color: #ced4ce;
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}
.Bookingbox{
    width : 500px;
    height : 720px;
    background: #defcfa;
    top : 55%;
    left : 50%;
    position : absolute;
    transform : translate(-50%, -50%);
    box-sizing : border-box;
    padding : 40px;
}
.booking-form-box{
    max-width: 350px;
    border: 1px solid#ced4ce;
    margin: 10% auto 0;
}

h1{
    margin : 0;
    padding : 0 0 20px;
    text-align : center;
    font-size : 22px;
}

.radio-btn{
    margin: 0 20px;
}

.radio-btn .btn{
    margin: 20px 10px 20px 0;
    box-shadow: none;
}

.radio-btn .btn::after{
    content: '';
    height: 15px;
    width: 15px;
    top: -2px;
    left: -1px;
    background-color: #ffffff;
    position: relative;
    display: inline-block;
    border: 3px solid #ffffff;
    visibility: visible;
    border-radius: 50%;
}

.radio-btn .btn:checked::after{
    content: '';
    background-color: #000000;
    transition: 0.1s;
}

.booking-form{
    padding: 0 20px 20px;
}

.booking-form label{
    margin-bottom: 5px;
    margin-top: 10;
    font-size: 12px;
    color: #0E324D;
}

input::placeholder{
    color: #0E324D !important;
}

.input-grp{
    width: 151px;
    display: inline-block;
}

.form-control{
    font-size: 12px !important;
    border-radius: 0 !important;
    background: transparent !important;
    box-shadow: none !important;
}

.select-date::-webkit-inner-spin-button,
.select-date::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

.select-date::-webkit-calender-picker-indicator{
    background: transparent !important;
}

.custom-select{
    color: #0E324D;
    font-size: 12px;
    border: 1px solid #ced4ce;
    box-shadow: none;
    border-radius: 0;
    background: transparent;
}
.custom-select option{
    color: #333333;
}

.flight{
    width: 100%;
    padding: 9px 0;
    font-size: 12px;
    border: 1px solid #ced4ce !important;
    box-shadow: none !important;
    border-radius: 0 !important;

}

.flight:hover{
    background: #0E324D !important;
    color: #000000 !important;
    transition: 0.1s;
}